body {
  font-family: Arial, sans-serif;
  background-color: #09091F;
  color: black;
  text-align: center;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0%;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.innerContainer{
  display: flex;
}

h1 {
  text-align: center;
  color: black;
}

#searchInput,
#filterSelect {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.project-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.project-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #C0EEF2;
  padding: 10px 30px;
  margin: 10px;
  border: 5px solid black;
  width: 75%;
}

.employee-list {
  background-color: #BAD7E9;
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin: 15px;
  border: 5px solid black;
}

.employee-card {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.projectContent {
  text-align: left;
}

.byLine {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0;
}

.byLineMember {
  margin: 0;
}

hr {
  margin: 0 20px;
  border: 3px solid black;
}

.headerDivider {
  border: 3px solid white;
  margin: 10px 0 0 0;
  width: 100%;
}

.previewDivider {
  border: 3px solid white;
  margin: 0;
}

.employee-preview {
  width: 75%;
}

.filter-preview {
  width: 25%;
  padding: 10px;
  margin: 10px;
}

.skills, .designations {
  background-color: #C0EEF2;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 25px;
  margin: 10px;
}